@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: "Poppins", sans-serif;
  background-color: #F3F7F9;
}

.heading {
  font-family: "DM Serif Text", serif;
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .no-grid-between {
    display: flex !important;
    flex-direction: column !important;
    gap: 5px !important;

  }

  .force-cols-4orderpage {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

.table-scroll-wrapper::-webkit-scrollbar {
  height: 9px;
  opacity: 0;
}

.table-scroll-wrapper {
  scrollbar-width: none;
}

.table-scroll-wrapper:hover::-webkit-scrollbar {
  height: 9px;
  opacity: 1;
}

.table-scroll-wrapper:hover {
  scrollbar-width: thin;
}
@keyframes popupBounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}





